{
  "env": {
    "es2020": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript/base",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": ["error", "always"]
  }
}
